{% load thumbnail %}

<div class="media meow">
    {% thumbnail meow.user.profile.avatar "64x64" format="PNG" as im %}
        <img src="{{ im.url }}" class="align-self-start mr-3" alt="...">
    {% endthumbnail %}
    <div class="media-body">
        <h5 class="mt-0">
            <a href="/u/{{ meow.user.get_username }}">
                {{ meow.user.get_username }}
            </a>
        </h5>
        <small>
            <a href="{{ meow.get_absolute_url }}">
                {{ meow.pub_time }}
            </a>
            {% if meow.user == user %}
             | <a class="del-meow" href="{% url 'meow:delete' meow.slug %}">
                 <span class="badge badge-danger" data-toggle="tooltip" title="Bu Meow'ı Sil">
                     X
                 </span>
                 </a>
            {% endif %}
        </small>
        <p>{{ meow.get_body|safe }}</p>
        {% if meow.image %}
            {% thumbnail meow.image "400" as im %}
            <a href="{{ meow.image.url }}" target="_blank">
                <img class="img-fluid" src="{{ im.url }}">
            </a>
            {% endthumbnail %}
        {% endif %}
    </div>
</div>
