<nav class="navbar container navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="/">KatNip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Anasayfa<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'users:logout' %}">Çıkış Yap</a>
      </li>
      {% else %}
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'users:login' %}">Giriş Yap</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'users:register' %}">Kayıt Ol</a>
      </li>
      {% endif %}
    </ul>
    <form action="{% url 'meow:search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Ara" name="q" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
    </form>
  </div>
</nav>
