{% load thumbnail %}

<div class="col-md-3 sidebar">
    <div class="jumbotron">
            {% with user.profile as profile %}
        <div class="media">
            {% thumbnail profile.avatar "64x64" format="PNG" as im %}
                <img src="{{ im.url }}" class="align-self-center mr-3" alt="...">
            {% endthumbnail %}
            <div class="media-body">
                <h5 class="">
                    <a href="/u/{{ user.get_username }}">
                        {{ user.get_username }}
                    </a>
                </h5>
            </div>
        </div>
        <p>
            {{ profile.bio }}
        </p>
        <hr>
            {% endwith %}
        {% if user.is_authenticated %}
        <form action="{% url 'meow:create'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_body">Meowınız:</label>
                <textarea class="form-control" name="body" rows="3" maxlength="512" required="" id="id_body"></textarea>
            </div>
            <div class="form-group">
                <label for="id_image">Görsel <small>(isteğe bağlı)</small>:</label>
                <input type="file" name="image" accept="image/*" id="id_image">
            </div>
            <button type="submit" class="btn btn-success">Meowla</button>
        </form>
        <hr>
        {% endif %}
    </div>
</div>
