{% extends "base.html" %}

{% block title %} - Silmeyi Onayla {% endblock title %}

{% block body %}
{% if meow.user == user %}
<form method="post">
    {% csrf_token %}
    <p>Bu <b>Meow'ı</b> silmek istediğinize emin misiniz?</p>
    <input type="submit" value="Onayla">
</form>
{% endif %}
{% endblock body %}
