header {
    margin-bottom: 56px;
}
.sidebar {
    padding-left: 0;
}
.sidebar > .jumbotron {
    border-radius: 0;
    height: 100%;
}
.main {
    margin-top: 50px;
}
.user-info {
    margin-bottom:50px;
}
.meow {
    margin-bottom: 10px;
}
.meow > .media-body {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    flex: none;
    min-width: 400px;
}
.meow > .media-body > h5 {
    margin-bottom: 0;
}
.meow > .media-body > h5 > a {
    color: darkblue;
    font-weight: bolder;
}
.meow > .media-body > small {
    border-bottom: 1px solid lightblue;
    font-size: 11px;
}
.del-meow > .badge {
    padding: .4em .5em;
}

@media (max-width:767px) {
    .meow > .media-body {
        min-width: auto;
        flex: 1;
    }
}
