{% extends "base.html" %}

{% load thumbnail %}

{% block body %}
<div class="media user-info">
    {% thumbnail user.profile.avatar "128x128" format="PNG" as im %}
        <img src="{{ im.url }}" class="align-self-center mr-3" alt="...">
    {% endthumbnail %}
    <div class="media-body">
        <h5 class="mt-0">{{ user.get_username }}</h5>
        <p>{{ user.profile.bio }}</p>
    </div>
</div>
<div class="container profile_meows">
	{% for meow in user.meow_set.all %}
        {% include  "partials/meow.html" with meow=meow %}
	{% endfor %}
</div>
{% endblock body %}
