{% extends "base.html" %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if profile_form %}
        {{ profile_form.as_p }}
    {% endif %}
    <button type="submit">{{ button }}</button>
</form>
{% endblock body %}
